@charset "UTF-8";

body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
	padding: 5px;
    margin-bottom: 20px;
    height: 30px;
    text-align: center;
    color: #1a5fb4;
    background-color: #9a9996;
    box-shadow: 0px 2px 2px #ccc;
    
}

#content {
    padding: 0px 8px;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #f5f5f5;
	text-align: center;
	padding: 10px 0;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

.heart {
	color: red;
}

